body {
	font-family: Helvetica, Geneva, Arial,
		SunSans-Regular, sans-serif;
	color: white;
	background-image: url('images/bg-smoke.jpg');
	background-position: center; 
	margin: 0;
}
@font-face {
	font-family: cool_font;
	src: url('fonts/DESTROY_.ttf');
}
.topheader {
	position: absolute;
	top: 25px;
	left: 310px;
	font-family: cool_font;
	font-weight: normal;
	font-size: 27;
}
.normaltext {
	font-size: 13;
}
.normalheader {
	font-size: 18;
}
.coolfont {
	font-family: cool_font;
}
.coolsize {
	font-size: 11;
}
.coolsize table {
	font-size: 11;
}
#logo {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url("images/logo-white340.png") no-repeat 0 0;
	/*background-size: 340px auto;*/
	width: 340px;
	min-width: 340px;
	height: 380px;
	min-height: 380px;
	z-index: 1;
}
ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 130px;
	left: 210px;
	z-index: 2;
}
ul.navbar a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 15;
}
ul.navbar li {
	float:left;
	background-color: black;
	padding: 30px 29px;
	/*margin: 0.5em 0;
	border-right: 1em solid black;*/
}
#navbar-first {
	background-image: url("images/logo-white340-navbar-overlap.png");
	background-repeat: no-repeat;
}
ul.vertical-stack {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}
ul.vertical-stack li {
	margin: 0.5em 0;
	/*float: left;
	background: black;
	padding: 30px 50px;
	margin: 0.5em 0;
	border-right: 1em solid black;*/
}
address {
	margin-top: 1em;
	padding-top: 1em;
	border-top: thin dotted;
}
div.left-container {
	position: absolute;
	top: 270px;
	left: 10px;
	width: 290px;
	height: 400px;
}
div.left-container li {
	min-width: 190px;
}
#ranking h4 {
	text-align: center;
	font-weight:normal;
}
div.center-container {
	position: relative;
	margin: 230px auto 0 210px;
	width: 333px;
	height: 600px;
	z-index: 2;
}
#facebook {
	background-image: url("images/template/facebook.png");
	background-repeat: no-repeat;
	min-height: 300px;
}
div.center-container li {
	min-width: 333px;
}
div.right-container {
	position: absolute;
	top: 230px;
	left: 553px;
	width: 191px;
	height: 400px;
}
#right-container li {
	min-width: 191px;
}
#days-until {
	text-align: center;
}
#days-until h1 {
	font-weight:normal;
	font-size: 46;
}
#weeks-player {
	text-align: center;
}
.data-container {
	background-color: rgba(0,0,0,0.6);
	padding: 10px;
}
#outer-container {
	position: relative;
	margin: 0px auto 0px auto;
	width: 890px;
	height: 1600px;
	overflow: hidden;
}
#inner-container {
	position: relative;
	margin: 80px auto 0px auto;
	width: 750px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
}
